*.pyc
*.py~
amity/*.pyc
amity/*.txt
amity/*.pkl
persons/*.pyc
rooms/*.pyc
tests/*.pyc

# Folders
test_relationship/
pkls/
Artefact/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Others
.DS_Store
.env